.sidebar{
    width: 70px;
    background-color: white;
    color: white;
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;

}
.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    vertical-align: center;
}
.sidebar-link:hover{
    background-color: #eaeaea;
    cursor: pointer;
}
.sidebar-image{
    height: 25px;

}

.sidebar-link div{
    font-family: Roboto,Arial,sans-serif;
    font-size: 10px;
    color: black;
    padding-top: 5px;
}